* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fc {
    margin-top: 7%;
}
.fc-view-harness 
{
    background-color: rgb(255, 255, 255) !important; 
    border-radius: 8px; 
    padding: 0%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 700px; 
    overflow-y: auto;
}

.fc-view-harness::-webkit-scrollbar
{
    width: 8px; 
}

.fc-view-harness::-webkit-scrollbar-thumb 
{
    background-color: #888; 
    border-radius: 4px; 
}
  
.fc-view-harness::-webkit-scrollbar-thumb:hover
{
    background-color: #555; 
}
  
.fc-toolbar 
{
    background-color: transparent !important; 
}
  
.fc-toolbar-title 
{
    font-size: 1.5rem !important;
    color: rgb(68, 68, 68);
}
  
.fc-button 
{
    font-size: 1rem !important;
}

.fc-daygrid-day-number 
{
    color: #121212; 
}

.fc-timegrid-slot-label-cushion 
{
    color: #121212; 
}

.tippy-box[data-theme~='custom-yellow'] {
    background-color: rgb(229, 255, 35);
    color: black;
}

.fc-list {
    color: #000;
}

/* Sidebar */
.main-content {
    transition: margin-right 0.3s ease;
    margin-right: 0;
    width: calc(100%-300px);
}
.main-content.shrink {
    width: 90%;
}
.sidebar {
    color: black;
    position: fixed;
    top: 14%;
    right: 0;
    height: 80%;
    width: 410px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 16px;
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
.sidebar.open {
    transform: translateX(0);
}
.sidebarCloseButton {
    margin-top:  5%; /* Зменшений відступ зверху */
    margin-bottom: 5%; /* Менший відступ, щоб назва предмета була ближче */
    background: #d3d3d3;
}
.sidebarChat{
    position: absolute;
    width: 90%;
    bottom: 3%;
}
.sidebarChatInput{
    width: 65%;
    padding: 10px;
    margin-left:20px;
    color:black;
    background-color: white;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px;
    outline: none;
    margin-top: 15px;
}
.sidebarChatButton{
    color: white;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #0055ff;
}
button.sidebarChatButton:hover {
    background-color: #1A91DA;
}
button.sidebarChatButton:active {
    background-color: #1681C0;
    transform: scale(0.95);
}


@media (min-width: 1600px) and (max-width: 1825px) {
    .sidebar{
        width: 400px;
    }
    .main-content.shrink{
        width: 80%;
    }
    .sidebarChatInput{
        margin-left: 0px;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .sidebar{
        width: 380px;
    }
    .main-content.shrink{
        width: 75%;
    }
    .sidebarChatInput{
        margin-left: 0px;
    }
}

@media (min-width: 1301px) and (max-width: 1400px) {
    .sidebar{
        width: 350px;
    }
    .main-content.shrink{
        width: 73%;
    }
    .sidebarChatInput{
        margin-left: 0px;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .sidebar{
        width: 320px;
    }
    .main-content.shrink{
        width: 73%;
    }
    .sidebarChatInput{
        margin-left: 0px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .sidebar{
        width: 300px;
    }
    .main-content.shrink{
        width: 70%;
    }
    .sidebarChatInput{
        margin-left: 0px;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .sidebar{
        width: 270px;
    }
    .main-content.shrink{
        width: 65%;
    }
    .sidebarChatInput{
        margin-left: 0px;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .sidebar{
        width: 250px;
    }
    .main-content.shrink{
        width: 60%;
    }
    .sidebarChatInput{
        margin-left: 0px;
    }
}

@media (max-width: 500px){
    img{
        width: 80%;
    }
    div.item.room-name{
        font-size: 10px;
        float: left;
    }
    div.right.menu.navbar-menu{
        float: left;
    }
    a.ui.blue.button.navbar-login-btn{
        font-size: 15px;
    }
    .sidebar{
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateX(100%);
    }
    .sidebar.open {
        transform: translateX(0);
    }
    .main-content.shrink{
        width: 100%;
        margin-right: 0;
    }
    .sidebarChatInput{
        margin-left: 0px;
    }
    .fc {
        margin-top: 30%;
    }
}







/* New code for messages*/

.messages-container {
    height: calc(100vh - 600px);
    overflow-y: auto; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; 
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 0px;
    
}

.messages-container::-webkit-scrollbar {
    width: 6px;
}

.messages-container::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 3px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 4px;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.message-time {
    font-size: 0.85rem;
    color: gray;
}

.message-bubble {
    background-color: #f1f0f0;
    border-radius: 18px;
    padding: 12px 18px;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word; 
    display: flex;
    align-items: center;
    position: relative;
    min-height: 35px;
    white-space: normal;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.message-text {
    font-size: 1rem;
    text-align: left;
    flex-grow: 1;
    line-height: 1.4;
    white-space: normal;
    margin: auto 0; 
    max-width: calc(100% - 30px);
}


.delete-btn {
    color: red;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.delete-btn i {
    font-size: 18px;
    color: red;
}

.delete-btn i:hover {
    color: darkred;
    transform: scale(1.1);
}


@media (max-width: 600px) {
    .message-bubble {
        font-size: 14px;
        padding: 10px;
    }

    .messages-container {
        height: calc(100vh - 350px);
    }

    .delete-btn {
        font-size: 14px;
    }

    .fc {
        margin-top: 0;
    }
    
    .fc-list-empty {
        font-size: 1.5rem;
    }

    .fc-toolbar {
        display: flex;
        flex-direction: column; /* Ustawienie kierunku flex na kolumnę */
        align-items: center; /* Wyśrodkowanie elementów */
    }

    .fc-toolbar .fc-toolbar-chunk {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .fc-toolbar-title {
        order: 0; /* Ustawienie kolejności tytułu */
        font-size: 1.5rem !important;
        color: rgb(68, 68, 68);
        margin-bottom: 10px; /* Dodanie marginesu dolnego */
    }
}
