* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar 
{
    width: 100%;
    background-color: #ffffff; 
    color: #0033cc; 
    padding: 1% 5%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
  
.navbar-logo 
{
    display: flex;
    align-items: center; 
    gap: 2%; 
    flex: 1;
}
  
.navbar-logo img 
{
    height: 38px; 
    object-fit: contain;
}
  
.navbar-title 
{
    font-size: 1.2vw; 
    font-weight: bold;
    color: #0033cc;
}
  
.navbar-menu 
{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}
  
.navbar-login-btn 
{
    border-radius: 15px; 
    padding: 10% 20%; 
    font-size: 1vw; 
    font-weight: bold;
    background-color: #0033cc !important;
    color: #ffffff !important; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}
  
.navbar-login-btn:hover 
{
    background-color: #0055ff !important; 
}

.navbar-login-btn-exit
{
    border-radius: 15px; 
    padding: 10% 20%; 
    font-size: 1vw; 
    font-weight: bold;
    background-color: red !important;
    color: #ffffff !important; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}

.navbar-login-btn-exit:hover 
{
    background-color: red !important; 
}
  
.room-name
{
    flex: 1;
}

.room-name p 
{
    font-size: 2em; 
    font-weight: bold; 
    margin-top: 0;
    padding-bottom: 1%;
    text-transform: uppercase; 
    margin-bottom: 0;
    background: linear-gradient(135deg, #00c344 0%, rgb(33,138,174) 69%, rgb(32,167,172) 89%);
    /*-webkit-background-clip: text;*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


  
@media (max-width: 768px) 
{
  .navbar 
  {
      padding: 3% 5%;
      flex-direction: column; 
      align-items: center;
  }
  
  .navbar-logo
  {
      justify-content: center; 
      margin-bottom: 2%;
  }
  
  .navbar-menu 
  {
      justify-content: center; 
  }
  
  .navbar-login-btn, .navbar-login-btn-exit
  {
      width: 100%; 
      text-align: center;
      padding: 5px;
      font-size: 10px;
  }
  
  .navbar-title 
  {
      font-size: 2vw; 
  }
}
  
@media (min-width: 2560px) 
{
  .navbar 
  {
      padding: 1% 10%; 
  }
  
  .navbar-logo img 
  {
      height: 6%; 
  }
  
  .navbar-title 
  {
      font-size: 1.5vw; 
  }
  
  .navbar-login-btn 
  {
      padding: 1% 2%; 
      font-size: 1.2vw; 
  }
}
  